<div class="busca">
  <form>
<div class="squat">
<label class="busca_cidade">
  Localização:<br/>
  Para onde você vai?<br/>
  <input type="text"  id="" name="" placeholder="Informe uma cidade:" />
</label>
</div>

<div class="squat">
<label class="busca_cidade" >Check-in<br/>
  Quando?<br/>
<input type="date" id="" name="">

</label>
</div>
<div class="squat">
<label class="busca_cidade" >Checkout<br/>
  Quando?<br/>
  <input type="date" id=""  name=""  />
</label>
</div>
<button type="button" class="button"><i class="material-icons">search</i> Buscar</button>

</form>

</div>

<div>
 <a [routerLink]="['/home-cadastro']" class="cas" >Cadastre-se</a>
</div>
