<h1>Sejá Bem-Vindo Hospedagem AnySty ! </h1>
<h2>Faça seu cadastro, para resgistrar seu interrese em nossos imoveis!</h2>

<form>

<label>
  Informe o seu nome completo :<br/>
  <input type="text" name="nome" id="nome" placeholder="Nome Completo :Ex- João Silva">
</label><br/>

<label>Informe seu CPF: <br/>
<input type="text" name="cpf" id="cpf" placeholder="Informe seu CEF sem pontos e sem barras:0000000000"></label><br/>

<label> Informe seu E-mail: <br/>
<input type="email" id="email" name="email" placeholder="joão@gmail.com">
</label><br/>
<label>
  Informe seu Telefone:<br/>
<input type="text" id="telefone" name="telefone" placeholder="51 998866688"><br/>
<legend> Lebrando que através dele  que o locatário entrará em contato</legend>
</label>

<button type="submit">Limpar</button>
<button  (click)="cadastroRealizado()"> Enviar</button>


</form>
