<!--<h1>Belas Paisagens </h1>
<div class='container-fluid'>
<div class="col-12">
  <ngb-carousel>
    <ng-template ngbSlide>
      <img src="assets/orla.jpg" alt="Porto ALegre">
   <div class="carousel-caption">
     <h3>10 seconds between slides..</h3>
     <p>hhdshdhadhah</p>
   </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/borges.jpg" alt="Porto Alegre">
   <div class="carousel-caption">
     <h3>10 seconds between slides..</h3>
     <p>hhdshdhadhah</p>
   </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/beiraMar.jpg" alt="Florianópolis">
   <div class="carousel-caption">
     <h3>10 seconds between slides..</h3>
     <p>hhdshdhadhah</p>
   </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/orlaf.jpg" alt="Florianópolis">
   <div class="carousel-caption">
     <h3>10 seconds between slides..</h3>
     <p>hhdshdhadhah</p>
   </div>
   <ng-template ngbSlide>
    <img src="assets/ponto.jpg" alt="Florianópolis">
 <div class="carousel-caption">
   <h3>10 seconds between slides..</h3>
   <p>hhdshdhadhah</p>
 </div>
    </ng-template>
  </ngb-carousel>
</div>
</div>
-->
