<div class="imoveis">
    <h3><a [routerLink]="['/routePath']" routerLinkActive="router-link-active"> Apartamento mobiliado com 2 quartos </a> </h3>
    <img src="./assets/apartmentOne.jpg">
    <!--{{oferta.cidade}}
        {{oferta.uf}}
        {{oferta.preco}}-->
</div>
<div class="imoveis">
    <h3><a [routerLink]="['/routePath']" routerLinkActive="router-link-active"> Casa mobiliada com 2 quartos </a> </h3>
    <img src="./assets/casa1.jpg">
    <!--{{oferta.cidade}}
        {{oferta.uf}}
        {{oferta.preco}}-->
        
        <app-registo>
            <button (click)>Registrar Interrese</button>
        </app-registo>
</div>
<div class="imoveis">
    <h3><a [routerLink]="['/routePath']" routerLinkActive="router-link-active"> Apartamento mobiliado com 1 quartos </a> </h3>
    <img src="./assets/isto.jpg">
    <!--{{oferta.cidade}}
        {{oferta.uf}}
        {{oferta.preco}}-->
        // terminar de formatar as imagenms e texto 
</div>

